$black: #222222;
$pink: #F1E4E6;
$dark-pink: #F16D7F;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$white: #FFFFFF;
$dark-grey: #222224;
$dark-white: #E8E8E8;
$opacity-grey: rgba(58, 56, 56, 0.86);
$middle-grey: #E1E1E1;
$beige: #F5F3F3;

$tablet-width: 1599px;
$mobile-width: 767px;
